<ion-footer>
  <ion-toolbar>
    <ion-buttons style="margin-right: 10vw;" slot="secondary">
      <a class="foot-element" href="google.es">
        {{ text.RESOURCES[langService.getLangKey()] }}
      </a>
      <span class="margin-5px">·</span>
      <a class="foot-element" href="google.es">
        {{ text.TERMS_OF_USE[langService.getLangKey()] }}
      </a>
      <span class="margin-5px">·</span>
      <a class="foot-element" href="google.es">
        {{ text.CONDITIONS[langService.getLangKey()] }}
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>